<h1>TinyMCE 5 Angular Demo</h1>
<editor (onSelectionChange)="captureHtmlTemplate($event)" [init]="{
    base_url: '/tinymce',
    height: 400,
    menubar: true,
    plugins: [
      'advlist autolink lists link image charmap print preview anchor',
      'searchreplace visualblocks code fullscreen',
      'insertdatetime media table paste code help wordcount'
    ],
    toolbar:
      'undo redo | formatselect | bold italic backcolor | \
      alignleft aligncenter alignright alignjustify | \
      bullist numlist outdent indent | removeformat | help'
  }"></editor>

<h3>Result: (Email Template) </h3>
<div class="email-template-conatiner">
  {{emailTemplate}}
</div>


<router-outlet></router-outlet>